{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row my-2 justify-content-center">
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
            {% if not field.is_hidden %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% else %}
            {{ field }}
            {% endif %}
            {% endfor %}
            <button type="submit" class="save btn btn-primary">{{ crud }}</button>
            {% if crud == '新規登録' %}
            <input type="button" value="キャンセル" class="btn btn-outline-primary" onclick="location.href='../';">
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}

